img, svg {
    vertical-align: middle;
    height: 72px !important;
    width: unset;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
}
}
.navbar{
    position: relative !important;
    background-color: #3d302a;
    padding: .5rem 0;
    .navbar-nav{
        gap: 1rem;
    }
    .nav-item{
        color: $white !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 1.2rem;
        font-weight: 600;
    }

}




